<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@(ViewData["Title"])</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/admin/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/app.css">
    <link rel="stylesheet" href="~/admin/css/adminsite.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/izitoast/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css">
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css">
    <link rel="shortcut icon" href="~/admin/assets/images/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    @await RenderSectionAsync("CSS", required: false)
</head>

@using CollegeManagement.DTO.AccountDTO

@{
    var userInfo = (AccountLogin)Context.Items["UserLogin"];
}
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="~/admin/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item" id="home_page">
                            <a href="/Admin/Home" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        @{
                            if (userInfo != null)
                            {

                                <li class="sidebar-item">
                                    <a href="/Admin/Department" class='sidebar-link'>
                                        <i class="bi bi-building"></i>
                                        <span>Department</span>
                                    </a>
                                </li>

                                if (userInfo.Role.Contains(ConstantVariables.ROLE_ADMIN) || userInfo.Role.Contains(ConstantVariables.ROLE_SUPER_ADMIN))
                                {
                                    <li class="sidebar-item">
                                        <a href="/Admin/Faculty" class='sidebar-link'>
                                            <i class="fas fa-chalkboard-teacher"></i>
                                            <span>Faculty</span>
                                        </a>
                                    </li>
                                }
                                if (userInfo.Role.Contains(ConstantVariables.ROLE_ADMIN) || userInfo.Role.Contains(ConstantVariables.ROLE_SUPER_ADMIN)
                                    || userInfo.Role.Contains(ConstantVariables.ROLE_FACULTY))
                                {

                                    <li class="sidebar-item">
                                        <a href="/Admin/Subject" class='sidebar-link'>
                                            <i class="bi bi-book"></i>
                                            <span>Subject</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="/Admin/Course" class='sidebar-link'>
                                            <i class="fa fa-graduation-cap"></i>
                                            <span>Courses</span>
                                        </a>
                                    </li>
                                }
                                <li class="sidebar-item">
                                    <a href="/Admin/Marks" class='sidebar-link'>
                                        <i class="fa fa-check-circle "></i>
                                        <span>Marks</span>
                                    </a>
                                </li>
                                if (userInfo.Role.Contains(ConstantVariables.ROLE_ADMIN) || userInfo.Role.Contains(ConstantVariables.ROLE_SUPER_ADMIN))
                                {
                                    <li class="sidebar-item">
                                        <a href="/Admin/Student" class='sidebar-link'>
                                            <i class="fa fa-user-graduate"></i>
                                            <span>Student</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="/Admin/Content" class='sidebar-link'>
                                            <i class="fas fa-sticky-note"></i>
                                            <span>Content</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="/Admin/Auth/List" class='sidebar-link'>
                                            <i class="fas fa-user-plus"></i>
                                            <span>Account</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="/Admin/Facility" class='sidebar-link'>
                                            <i class="fas fa-toolbox"></i>
                                            <span>Facility</span>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main" class='layout-navbar'>
            <header>
                <nav class="navbar navbar-expand navbar-light ">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton"
                                   data-toggle="dropdown" aria-haspopup="true">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">@(userInfo != null ? $"{userInfo.FullName}":"")</h6>
                                            <p class="mb-0 text-sm text-gray-600">@(userInfo != null ? $"{userInfo.Role}":"")</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="@(userInfo == null || string.IsNullOrEmpty(userInfo.ImageURL) ? "/admin/assets/images/faces/1.jpg": userInfo.ImageURL)">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <h6 class="dropdown-header">Hello, @(userInfo != null ? $"{userInfo.FullName}":"")</h6>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Admin/Auth/MyProfile">
                                            <i class="icon-mid bi bi-person me-2"></i> My
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Admin/Auth/ChangePassword">
                                            <i class="icon-mid bi bi-gear me-2"></i>Change Password
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Admin/Auth/Logout">
                                            <i class="icon-mid bi bi-box-arrow-left me-2"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="main-content" class="pt-3">

                <div class="page-heading">
                    <h3>@ViewData["PageHeader"]</h3>
                    <section class="section">
                        @RenderBody()
                    </section>
                </div>
            </div>

            <footer>
                <div class="footer clearfix">
                    <div class="float-start">
                        <p>2021 &copy; Aptech</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Crafted with <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span>
                            by <a href="https://ahmadsaugi.com">Aptech</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/dropzone/dist/dropzone.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/izitoast/dist/js/iziToast.min.js"></script>
    <script src="~/lib/moment.js"></script>
    <script src="~/admin/assets/js/main.js"></script>
    <script src="~/admin/js/adminsite.js"></script>
    @if (TempData["Error"] != null)
    {
        <script>
            $(document).ready(function () {
                notificationError("@TempData["Error"]")
            })
        </script>
    }
    @if (TempData["Success"] != null)
    {
        <script>
            $(document).ready(function () {
                notificationSuccess("@TempData["Success"]")
            })
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>