@model CollegeManagement.Models.Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img class="img-detail" src="@Model.ImageUrl" />
        </dd>
        <dt class = "col-sm-2">
            Created At
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            Updated At
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning mr-2" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
