@model IEnumerable<CourseHome>

<div class="all-title-box">
    <div class="container text-center">
        <h1>Course List<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
            </div>
        </div><!-- end title -->

        <hr class="invis">

        <div class="row">

            @{
                if (Model != null)
                {
                    foreach (var m in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="course-item">
                                <div class="image-blog">
                                    <img src="@(m.ImageURL)" alt="" class="img-fluid">
                                </div>
                                <div class="course-br">
                                    <div class="course-title">
                                        <h2><a href="#" title="">@(m.Name)</a></h2>
                                    </div>
                                    <div class="course-desc">
                                        <p>@(m.Info.Length > 200 ? m.Info.Substring(0, 200)+"...": m.Info)</p>
                                    </div>
                                </div>
                                <div class="course-meta-bot">
                                    <ul>
                                        @if (m.Status == 1)
                                        {
                                            <li class="col-12 text-danger">Stop Enrollment </li>
                                        }
                                        else
                                        {
                                            <li class="col-12 text-success">Enrollment Time</li>
                                            <li>From: @(((DateTime)m.StartDate).ToString("dd/MM/yyyy"))</li>
                                            <li>To: @(((DateTime)m.EndDate).ToString("dd/MM/yyyy"))</li>
                                        }
                                        <li><i class="fa fa-users" aria-hidden="true"></i>@(m.StudentRegister)/@(m.StudentNumber) Student</li>
                                        <li><i class="fa fa-book" aria-hidden="true"></i>@(m.TotalBook) Books</li>
                                    </ul>
                                </div>
                                <div class="mt-2 text-center">
                                    @if (m.Status != 1)
                                    {
                                        <a asp-action="RegisterCourses" asp-route-id="@m.ID" class="btn btn-success">Register</a>
                                    }
                                    <a asp-action="CourseDetails" asp-route-id="@m.ID" class="btn btn-info">Detail</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->