@model IEnumerable<Facility>
@{
    var pageIndex = (int)ViewBag.PageIndex;
    var totalRecord = (decimal)ViewBag.TotalRecord;
    var totalPage = Math.Ceiling(totalRecord / 12);
}

<div class="all-title-box">
    <div class="container text-center">
        <h1>Course List<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
            </div>
        </div><!-- end title -->

        <hr class="invis">

        <div class="row">
            @{
                if (Model != null)
                {
                    foreach (var m in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-12 mb-3">
                            <div class="course-item">
                                <div class="course-br" style="background: #cece; height: 250px">
                                    <div class="course-title">
                                        <h2><a href="#" title="">@(m.Name)</a></h2>
                                        <label>@(string.IsNullOrEmpty(m.Info) && m.Info.Length > 200?m.Info.Substring(0, 200):m.Info)</label><br />
                                        <label>QTY: @m.Qty</label>
                                    </div>
                                </div>
                                <div class="mt-2 text-center">
                                    <a asp-action="FacilityDetails" asp-route-id="@m.ID" class="btn btn-info">Detail</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div><!-- end row -->
        <div class="dataTables_paginate paging_simple_numbers pull-right" id="kt_datatable_paginate">
            <ul class="pagination">
                @if (totalPage > 0)
                {
                    if (pageIndex > 1)
                    {
                        <li class="paginate_button page-item previous" id="kt_datatable_previous">
                            <a asp-route-PageIndex="@pageIndex - 1)"
                               aria-controls="kt_datatable" data-dt-idx="0" tabindex="0" class="page-link">
                                Previous
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item previous disabled" id="kt_datatable_previous">
                            <button aria-controls="kt_datatable" data-dt-idx="0" tabindex="0" class="page-link">
                                Previous
                            </button>
                        </li>
                    }

                    if (totalPage < 8)
                    {
                        for (var i = 1; i <= totalPage; i++)
                        {
                            if (i == pageIndex)
                            {
                                <li class="paginate_button page-item active"><button aria-controls="kt_datatable" tabindex="0" class="page-link">@i</button></li>
                            }
                            else
                            {
                                <li class="paginate_button page-item"><a asp-route-PageIndex="@i" tabindex="0" class="page-link">@i</a></li>
                            }
                        }
                    }
                    else
                    {
                        if (pageIndex <= 4)
                        {
                            for (var i = 1; i <= 5; i++)
                            {
                                if (i == pageIndex)
                                {
                                    <li class="paginate_button page-item active"><button aria-controls="kt_datatable" tabindex="0" class="page-link">@i</button></li>
                                }
                                else
                                {
                                    <li class="paginate_button page-item"><a asp-route-PageIndex="@i" tabindex="0" class="page-link">@i</a></li>
                                }
                            }

                            <li class="paginate_button page-item disabled"><button aria-controls="kt_datatable" tabindex="0" class="page-link">...</button></li>
                            <li class="paginate_button page-item"><a asp-route-PageIndex="@totalPage" tabindex="0" class="page-link">@totalPage</a></li>
                        }
                        else if (pageIndex < totalPage - 3)
                        {
                            <li class="paginate_button page-item"><a asp-route-PageIndex="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item disabled"><button aria-controls="kt_datatable" tabindex="0" class="page-link">...</button></li>
                            for (var i = pageIndex - 2; i <= pageIndex + 2; i++)
                            {
                                if (i == pageIndex)
                                {
                                    <li class="paginate_button page-item active"><button aria-controls="kt_datatable" tabindex="0" class="page-link">@i</button></li>
                                }
                                else
                                {
                                    <li class="paginate_button page-item"><a asp-route-PageIndex="@i" tabindex="0" class="page-link">@i</a></li>
                                }
                            }
                            <li class="paginate_button page-item disabled"><button aria-controls="kt_datatable" tabindex="0" class="page-link">...</button></li>
                            <li class="paginate_button page-item"><a asp-route-PageIndex="@totalPage" tabindex="0" class="page-link">@totalPage</a></li>
                        }
                        else
                        {
                            <li class="paginate_button page-item"><a asp-route-PageIndex="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item disabled"><button aria-controls="kt_datatable" tabindex="0" class="page-link">...</button></li>
                            for (var i = totalPage - 4; i <= totalPage; i++)
                            {
                                if (i == pageIndex)
                                {
                                    <li class="paginate_button page-item active"><button aria-controls="kt_datatable" tabindex="0" class="page-link">@i</button></li>
                                }
                                else
                                {
                                    <li class="paginate_button page-item"><a asp-route-PageIndex="@i" tabindex="0" class="page-link">@i</a></li>
                                }
                            }
                        }
                    }

                    if (pageIndex < totalPage)
                    {
                        <li class="paginate_button page-item next" id="kt_datatable_next">
                            <a asp-route-PageIndex="@(pageIndex + 1)"
                               aria-controls="kt_datatable" data-dt-idx="2" tabindex="0" class="page-link">
                                @* <i class="ki ki-arrow-next"></i> *@
                                Next
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item next disabled" id="kt_datatable_next">
                            <button aria-controls="kt_datatable" data-dt-idx="2" tabindex="0" class="page-link">
                                @* <i class="ki ki-arrow-next"></i> *@
                                Next
                            </button>
                        </li>
                    }
                }
            </ul>
        </div>
    </div><!-- end container -->
</div><!-- end section -->